@import './variables';
@import './mixins';


.container--cloud{
    background-image: url(../imgs/cloudSky.jpg);
    background-size: 400%;
    background-repeat: no-repeat;
    animation: bgMoveTop 120s linear 0s infinite alternate none;
}


.container--cloud__wrapper i{
    color: rgb(156, 156, 156);
    text-shadow: 0px 0px 20px rgb(39, 39, 39);
}


@keyframes bgMoveTop {
    from {background-position: right top;}
    to {background-position: left top;}
}
