@import './variables';
@import './mixins';


.container--other{
    background-image: url(../imgs/OtherSky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container--other__wrapper i {
    color: grey;
}