@import './variables';
@import './mixins';


.container--rain{
    background-image: url(../imgs/rainSky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container--rain__wrapper i {
    color: rgb(13, 13, 184);
    text-shadow: 0px 0px 20px rgb(0, 157, 255);
}