* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  max-width: 600px;
  -webkit-animation: bgMove 120s linear 0s infinite alternate none;
          animation: bgMove 120s linear 0s infinite alternate none;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container__form {
  font-family: "Roboto", sans-serif;
  margin-bottom: -1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__form__input {
  background: black;
  color: white;
  border: none;
  padding: 0.25em;
  font-size: 1.2rem;
  margin-right: 0.25em;
  border-radius: 5px;
  outline: none;
}

.container__form__input:focus, .container__form__input:hover {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.container__form__btn {
  background: none;
  border: none;
  outline: none;
}

.container__form__btn:focus, .container__form__btn:hover {
  color: white;
}

.container__error {
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
  height: 100px;
  font-size: 2rem;
  font-weight: 700;
}

.container__wrapper {
  width: 90vw;
  max-width: 500px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 1em 0em;
  -webkit-box-shadow: 0px 0px 15px black;
          box-shadow: 0px 0px 15px black;
}

.container__wrapper__content {
  padding: 0.15em;
  font-size: 2.5rem;
  font-weight: 700;
  text-shadow: 0px 0px 5px white;
}

.container__wrapper i {
  color: orange;
  text-shadow: 0px 0px 20px yellow;
}

@-webkit-keyframes bgMove {
  from {
    background-position: right top;
  }
  to {
    background-position: left bottom;
  }
}

@keyframes bgMove {
  from {
    background-position: right top;
  }
  to {
    background-position: left bottom;
  }
}

.container--clear {
  background-image: url(../imgs/clearSky.jpg);
  background-size: 300%;
  background-repeat: no-repeat;
}

.container--cloud {
  background-image: url(../imgs/cloudSky.jpg);
  background-size: 400%;
  background-repeat: no-repeat;
  -webkit-animation: bgMoveTop 120s linear 0s infinite alternate none;
          animation: bgMoveTop 120s linear 0s infinite alternate none;
}

.container--cloud__wrapper i {
  color: darkgrey;
  text-shadow: 0px 0px 15px lightgrey;
}

@-webkit-keyframes bgMoveTop {
  from {
    background-position: right top;
  }
  to {
    background-position: left top;
  }
}

@keyframes bgMoveTop {
  from {
    background-position: right top;
  }
  to {
    background-position: left top;
  }
}

.container--rain {
  background-image: url(../imgs/rainSky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container--other {
  background-image: url(../imgs/OtherSky.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=App.css.map */