@import './resets';
@import './variables';
@import './mixins';


.container{
    width: 100vw;
    height: 100vh;
    max-width: 600px;
    animation: bgMove 120s linear 0s infinite alternate none;
    margin: 0 auto;
    @include Flex(column);
    align-items: center;
    justify-content: flex-end;
    &__form{
        font-family: $searchFont;
        @include Flex-Center(row);
        margin-bottom: 1em;
        &__input,
        &__input--error{
            background: black;
            color: white;
            border: none;
            padding: 0.25em;
            font-size: 1.2rem;
            margin-right: 0.25em;
            border-radius: 5px;
            outline: none;
        }
        &__input{
            &:focus,
            &:hover{
                box-shadow: 0px 0px 5px black;
            }
        }
        &__input--error{
            box-shadow: 0px 0px 15px red;
        }
        &__btn{
            background: none;
            border: none;
            outline: none;
            &:focus,
            &:hover{
                color: white;
            }
        }
    }
    &__wrapper{
        width: 90vw;
        max-width: 500px;
        font-family: $bodyFont;
        text-align: center;
        background: rgba(black, 0.3);
        padding: 1em 0em;
        box-shadow: 0px 0px 15px black;
        margin-bottom: 1em;
        &__content{
            padding: 0.15em;
            font-size: 2.5rem;
            font-weight: 700;
            text-shadow: 0px 0px 5px white;
        }
        & i{
            color: orange;
            text-shadow: 0px 0px 20px yellow;
        }
    }
}

@keyframes bgMove {
    from {background-position: right top;}
    to {background-position: left bottom;}
}

@import './clearWeather';
@import './cloudWeather';
@import './rainWeather';
@import './otherWeather';
@import './prevWeather';
